.password-registration-modal {
  font-weight: 500;
  font-style: normal;

  &__link {
    text-decoration: none;
    color: #51c100;
  }

  &__modal {
    width: 320px;

    &__header__title {
      margin: 0px;
    }

    > .modal__body {
      margin-bottom: 40px;
    }

    div.modal__footer__text {
      font-size: 10px;
    }

    div.modal__additional-footer__text {
      padding: 0;
    }
  }

  &__main-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 165%;
  }

  &__title {
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    color: #6d7885;
  }

  &__form {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 20px 0;

    &__radio {
      display: flex;
      flex-direction: row;
      position: relative;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 8px;
      margin-right: 17px;
      line-height: 2;
      font-size: 15px;
      color: #818c99;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:last-child {
        margin-right: 0px;
      }

      &__icon {
        margin-right: 10px;
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
    }
  }

  &__error-text {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #e64646;
    margin-top: 8px;
  }

  &__specialization-form {
    margin-top: 24px;

    > form {
      margin-top: 8px;
    }
  }
}
