.reset-password-success {
  &__main {
    height: 100vh;
    background: #101820;
    display: flex;
    position: relative;
  }

  &__wrapper-center {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    margin: 0 auto;
    max-width: 465px;

    .app-icon__logoGreenWhite {
      margin-top: 50px;
    }
  }

  &__widget-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__title {
    margin: 20px 0;
    text-align: center;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 400px;
    text-align: center;
    border-radius: 9px;
    color: #ffffff;
    background: #19222b;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.03);

    &-icon {
      display: flex;
      justify-content: center;
      height: 40px;

      > i svg {
        height: 40px;
        width: 40px;

        > path {
          fill: #fff;
        }
      }
    }
  }

  &__additional-text {
    color: #86909c;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 20px;
  }

  &__mail {
    color: #ffffff;
  }

  &__redirect-btn {
    margin: 0 auto;
    background: #51C100;
    border-radius: 8px;
    padding: 15px 32px;
    font-size: 14px;
    line-height: 145%;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
  }

  &__close-icon {
    position: absolute;
    top: 45px;
    right: 45px;

    &:hover {
      cursor: pointer;
    }
  }
}
